cloudinary==1.39.0
dj_database_url==2.1.0
Django==4.2.4
django_phonenumber_field==7.3.0
djangorestframework==3.14.0
djangorestframework_simplejwt==5.3.0
python-decouple==3.8
Requests==2.31.0
django-cors-headers==4.2.0
phonenumbers==8.13.31