/* .userbox-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  cursor: pointer;
} */
.userbox-userbox {
  cursor: pointer;
  display: inline-block;
  position: relative;
  display: flex;
  border-radius: 50px;
  padding: 0 10px;

  /* prevent text selection */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  .profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50px;
  }
}

.userbox-userbox {
  gap: 8px;
  height: auto;
  display: flex;
  align-items: center;
}

.userbox-group3 {
  width: 200px;
  height: 34px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.userbox-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  width: 100%;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  span {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.userbox-text2 {
  top: 17px;
  color: rgba(234, 226, 183, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  width: 100%;
  span {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.userbox-expanddown {
  width: 23px;
  height: 24px;
  margin-left: 10px;
}
