.container {
  width: 100%;
  display: flex;
  overflow: auto;
  height: calc(100vh - 62px);
  padding-left: 50px;

  .container-left {
    width: 40vw;
    display: flex;
    overflow: auto;
    height: calc(100vh - 62px);
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
  }
  .container-right {
    width: 60vw;
    display: flex;
    overflow: auto;
    height: calc(100vh - 62px);
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
  }
}

.exploresearchcategories {
  gap: 22px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;

  .exploresearch {
    /* gap: 143px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .text {
      color: rgba(43, 43, 43, 1);
      width: 122px;
      height: auto;
      font-size: 30px;
      font-style: Bold;
      text-align: left;
      font-family: Montserrat;
      font-weight: 700;
      line-height: normal;
      font-stretch: normal;
      text-decoration: none;
    }
    .search {
      width: 355px;
      height: 45px;
      display: flex;
      position: relative;
      align-items: flex-start;
      flex-shrink: 1;
    }
  }
  .explorecategoriesmenu {
    /* gap: 41px; */
    row-gap: 10px;
    padding: 15px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .category-menu {
    width: 80px;
    height: auto;
    display: flex;
    flex-shrink: 1;
    color: #3f3f3f;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    line-height: normal;
    flex-direction: column;
    cursor: pointer;
    .category-icon {
      width: 80px;
      height: 80px;
      border: 1px solid rgba(63, 63, 63, 1);
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .category-text {
      margin-top: 7px;
    }
  }
}

.list-container {
  display: flex;
  max-height: calc(100vh - 220px - 62px);
  overflow-y: scroll;
  padding: 10px 20px 20px 0;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  padding: 5px;
}

.map-ui {
  position: relative;
  box-shadow: inset 10px 8px 9px rgba(0, 0, 0, 0.2);
}

.gradient-top {
  position: absolute;
  width: 58vw;
  height: 128px;
  background: linear-gradient(180deg, #ffffff 28%, rgba(255, 255, 255, 0) 100%);
  z-index: 3;
}

.gradient-bottom {
  position: absolute;
  bottom: 0;
  width: 58vw;
  height: 128px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 40.47%,
    #ffffff 100%
  );
  z-index: 3;
}

.no-results-container {
  text-align: center;
  margin-top: 18%;
}

.no-results-icon {
  font-size: 48px;
  color: #ccc;
}

.no-results-message {
  margin-top: 20px;
  font-size: 24px;
  color: #666;
}

.clickable-div {
  width: 200px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.clickable-div:hover {
  transform: scale(1.01);
  .category-icon {
    box-shadow: 0 4px 8px rgb(236, 125, 6);
  }
}

.clickable-div:active {
  animation: click-animation 0.2s;
}

@keyframes click-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.99);
  }
  100% {
    transform: scale(1);
  }
}

.active-cat-menu {
  .category-icon {
    background-color: var(--primary-color);
    color: white;
    border: 1px solid transparent !important;
    path {
      fill: white;
    }
  }
  .category-text {
    font-weight: 700;
    color: var(--primary-color);
  }
}
